<%- include("header") -%>

<h2>About page uwu</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione perferendis, ipsa eligendi vitae et esse culpa quod. Hic, omnis incidunt blanditiis cum doloremque saepe sit? Doloremque est vero corrupti esse?</p>

<%- include("footer") -%>